body{
    text-align: center;
    background-image: url(camera.webp);
    background-size: cover;
    background-position: center;
    font-size: larger;

}
#camera{
    align-items: center;
}